<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="invoice-wrapper">
    <div class="top-wrapper">
      <div class="school">
        <span>ĐOÀN ĐẠI HỌC ĐÀ NẴNG</span>
        <span>ĐOÀN TRƯỜNG ĐẠI HỌC BÁCH KHOA</span>
      </div>
    </div>
    <div class="middle-wrapper">
      <div class="title">PHIẾU THU</div>
    </div>
    <div class="bottom-wrapper">

    </div>
  </div>
</body>
<style>
  .invoice-wrapper {
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    padding: 80px;
  }
  .top-wrapper {
    text-align: left;
  }
.school {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: normal 500 17px Roboto;
}
</style>
</html>