.value {
    font-weight: 500;
}
.invoice-wrapper {
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    padding: 36px 80px 120px 80px;
    color: #3F00FF;
}
.top-wrapper {
    text-align: left;
}
.school {
    display: flex;
    justify-content: flex-start;
}
.school-text {
    /*width: 300px;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    font: normal 500 20px Roboto;
}
.middle-wrapper {
    text-align: center;
}
.title-bill {
    /*font: normal 700 28px Roboto;*/
    margin-top: 36px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.name-bill {
    font: normal 700 32px Roboto;
}
.id-bill {
    font: normal 400 20px Roboto;
}
.date {
    font: normal 400 18px Roboto;
}
.payer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
}
.key {
    font: normal 400 20px/32px Roboto;
}
.note-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}
.note-frame {
    border: 2px solid #3F00FF;
    width: 100%;
    height: 100px;
}
.note-title {
    font: normal 400 20px/32px Roboto;
}
.bottom-wrapper {
    margin-top: 20px;
    display: flex;
    column-gap: 85px;
    font: normal 400 20px/32px Roboto;
}
.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal 500 20px Roboto;
}
.signature .note {
    font: normal 400 17px Roboto;
}